
<div class="my-header">
<h1 class="text-warning">Welcome To The Stock Tracker App</h1>
</div>

<h3>What Is the Stock Market and How Does It Work?</h3>
<div></div>
<p>
The stock market is where investors connect to buy and sell investments — most commonly, stocks, which are shares of ownership in a public company.
When you need groceries, you go to the supermarket. When you’re ready to buy stocks or mutual funds, you’ll usually buy them online through the stock market, which anyone can access with a brokerage account, robo-advisor or employee retirement plan.

You don’t have to officially become an “investor” to invest in the stock market — for the most part, it’s open to anyone. And after you purchase your first investment, you’ll join the ranks of investors around the world who are using the stock market to build long-term wealth. 
But before you do this, it’s critical to learn what the stock market is, how it works and a few introductory investment strategies.
</p>

<h2>How does the stock market work?</h2>

<p>
The concept behind how the stock market works is pretty simple. Operating much like an auction house, the stock market enables buyers and sellers to negotiate prices and make trades.

The stock market works through a network of exchanges — you may have heard of the New York Stock Exchange or the Nasdaq. Companies list shares of their stock on an exchange through a process called an initial public offering, or IPO. Investors purchase those shares, which allows the company to raise money to grow its business. Investors can then buy and sell these stocks among themselves, and the exchange tracks the supply and demand of each listed stock.

That supply and demand help determine the price for each security, or the levels at which stock market participants — investors and traders — are willing to buy or sell.

Buyers offer a “bid,” or the highest amount they’re willing to pay, which is usually lower than the amount sellers “ask” for in exchange. This difference is called the bid-ask spread. For a trade to occur, a buyer needs to increase his price or a seller needs to decrease hers.

This all may sound complicated, but computer algorithms generally do most of price-setting calculations. When buying stock, you’ll see the bid, ask, and bid-ask spread on your broker's website, but in many cases, the difference will be pennies, and won’t be of much concern for beginner and long-term investors.


</p>
 
 <p>
 <a href="https://www.nerdwallet.com/article/investing/how-to-invest-in-stocks"> Learn More on how to invest in the stock marke</a>
 </p>