@import 'bootstrap/dist/css/bootstrap';

body {
    background-image: url(background.jpeg);
    background-size: cover;
    color: white;
}
table {
    color: #e0e4e8 !important;
}

table:hover {
    color: rgb(236, 233, 58) !important;
}
.navbar {
    font-size: 1.2rem;
    margin-bottom: 5%;
}
.navbar-brand {
    font-size: 2rem;
    padding-right: 4rem;
}
.user-name {
    padding-right: 10px;
}
.search-area {
    padding-top: 4rem;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.results-block {
display: inline-block;
margin-bottom: 1rem;
}
.logout-button {
    margin-right: 10px !important;
}


@media (max-width: 480px) {

    .col-sm-3 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .navbar-toggler-icon {
        background-image: url(nav1.jpeg);
    }
   .navbar {
       background-color: black !important;
   }
}






