@import 'bootstrap/dist/css/bootstrap';

body {
    background-image: url(background.jpeg);
    background-size: cover;
    color: white;
}

.navbar {
    font-size: 1.5rem;
    margin-bottom: 10rem;
}
.navbar-brand {
    font-size: 2rem;
    padding-right: 4rem;

}

